@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <title></title>
    @Styles.Render("~/bundles/css/desktop")
</head>
<body>
    <header>
        <div class="page-header">
            @* Tudo que for jogado no ViewBag será visivel nas paginas pais e filhas. *@
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="text-muted text-left">@ViewBag.Title</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"><h4 class="text-muted navbar-right">@ViewBag.Projeto</h4></div>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*<a class="navbar-brand" href="#">.Yazaki</a>*@
                        <img class="center-block" src="~/Content/Images/logoYazaki.jpg" height="50" width="150" />
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projeto <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Novo Projeto", "FindXml", "Projeto")</li>
                                    <li>@Html.ActionLink("Listar Projetos", "Listar", "Projeto")</li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
    <section class="container">
        <div>
            @Html.Partial("_PartialAviso")
        </div>
    </section>
    <section>
        <div>
            @RenderBody()
        </div>
    </section>
    <footer>
        <div>
            @*
                <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                    <div class="container">
                        <!-- A tag strong alem de deixar em negrito Ela tem conteúdo semântico que  significa q é um texto importante. -->
                        <p> &copy; Todos direitos reservados a <strong>HLP estratégia em sistemas.</strong> </p>
                    </div>
                </nav>
            *@
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- A tag strong alem de deixar em negrito Ela tem conteúdo semântico que  significa q é um texto importante. -->
                    <p> &copy; Todos direitos reservados a <strong>HLP estratégia em sistemas.</strong> </p>
                </div>
            </nav>
        </div>
    </footer>
    @Scripts.Render("~/bundles/scripts/desktop")
    @RenderSection("SCRIPTS", required: false)
</body>
</html>
